@using Newtonsoft.Json;


@model IEnumerable<ModelGSB.Departement>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h2>Index</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Département")
        </th>
        <th>
            @Html.DisplayName("Région")
        </th>
        <th></th>
    </tr>
    @{
        List<ModelGSB.Departement> departements = new List<ModelGSB.Departement>();
    }
    @foreach (var item in Model)
    {
        departements.Add(item);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomRegion)
            </td>
            @if (int.TryParse(item.IdDepartement, out int IdDepartement))
            {
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id = int.Parse(item.IdDepartement) })*@
                    <a href="@Url.Action("Details", new { id = int.Parse(item.IdDepartement) })" class="btn btn-primary detail">
                        <span>
                            <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                        </span>
                    </a>
                </td>
            }
            else
            {
                <td>
                    <p>Aucune donnée pour le moment.</p>
                </td>
            }

        </tr>
    }

</table>

<a href="@Url.Action("DownloadJson")" class="btn btn-primary" download>Télécharger la liste au format JSON</a>


<style>
    .fa-info-circle {
        color: black;
    }

    .detail {
        background-color: transparent;
        padding: 0;
        height: max-content;
        border: none;
    }

        .detail:hover {
            background-color: transparent;
        }

    .fa-info-circle:hover {
        transform: scale(1.3);
    }

    /* Style pour la table */
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
    }

    /* Style pour les cellules de la table */
    td, th {
        border: 1px solid #dee2e6;
        padding: 0.75rem;
        vertical-align: middle;
    }

    /* Style pour l'en-tête de la table */
    th {
        font-weight: 700;
        background-color: #007bff;
        color: #fff;
    }

    /* Style pour les liens des boutons d'action */
    .btn {
        color: #fff;
        text-decoration: none;
    }

    /* Style pour le bouton Détails */
    .detail {
        background-color: #ffc107;
        margin-right: 5px;
    }
</style>
