@model ModelGSB.Medecin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medecin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Département")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departement.NomDep)
        </dd>

        <dt>
            @Html.DisplayName("Nom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomMed)
        </dd>

        <dt>
            @Html.DisplayName("Prénom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrenomMed)
        </dd>

        <dt>
            @Html.DisplayName("Adresse")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresseMed)
        </dd>

        <dt>
            @Html.DisplayName("Numéro de téléphone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneMed)
        </dd>

        <dt>
            @Html.DisplayName("Spécialité")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialiteComplementaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.IdMedecin }) |
    @Html.ActionLink("Retour", "Index")
</p>
